@import '../../styles/colors.scss';

.todo-form {
  width: 500px;
  border-radius: 15px;
  z-index: 1200;
  padding: 10px 25px 30px 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $dark-grey;
  &__title {
    margin-bottom: 10px;
    font-size: 24px;
  }
  &__buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  &__button-container {
    position: relative;
  }
  &__buttons button {
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px 10px;
    background-color: $grey;
    border-radius: 20px;
    &:hover {
      background-color: $light-grey;
    }
    svg {
      width: 24px;
    }
    path {
      stroke: $main-blue;
    }
  }
  label {
    color: $light-grey;
    text-transform: uppercase;
  }
  textarea {
    width: 100%;
    resize: none;

    line-height: 1.5;
    background-color: transparent;
    border: none;
    height: 75px;
  }
  &__subtasks {
    display: grid;
    display: column;
    gap: 10px;
  }
}

svg {
  &.default {
    path {
      stroke: $main-blue;
    }
  }

  &.low {
    path {
      stroke: $green;
    }
  }

  &.medium {
    path {
      stroke: $orange;
    }
  }

  &.high {
    path {
      stroke: $red;
    }
  }
}
