@import '../../styles/colors.scss';

.todo-form {
  width: 500px;
  height: 460px;
  overflow-y: scroll;
  border-radius: 10px;
  z-index: 1200;
  padding: 10px 25px 75px 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $backgroung-grey;

  &__disable-block {
    position: absolute;
    border-radius: 15px;
    left: 0;
    top: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: $backgroung-grey;
    opacity: 0.3;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 24px;
  }
  &__buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }

  &__button-container {
    position: relative;
  }

  label {
    color: $light-grey;
    text-transform: uppercase;
  }
  textarea {
    width: 100%;
    resize: none;

    line-height: 1.5;
    background-color: transparent;
    border: none;
    height: 75px;
  }
  &__subtasks {
    display: grid;
    display: column;
    gap: 10px;
  }

  &__button-wrapper {
    width: calc(100% - 4px);
    padding: 12px 0;
    position: fixed;
    background-color: $backgroung-grey;
    border-radius: 0 0 10px 10px;
    bottom: 0;
    left: 0;

    button {
      background-color: $main-blue;
      border-radius: 4px;
      padding: 6px 12px;
      text-align: center;
      margin-left: 30px;
    }
  }
}
