svg {
  &.default,
  &.low,
  &.medium,
  &.high {
    path {
      transition: 0.3s;
    }
  }

  &.default {
    path {
      stroke: $main-blue;
    }
  }

  &.low {
    path {
      stroke: $green;
    }
  }

  &.medium {
    path {
      stroke: $orange;
    }
  }

  &.high {
    path {
      stroke: $red;
    }
  }
}
