@import '../../styles/colors.scss';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
a {
  text-decoration: none;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  color: $white;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

body {
  background-color: $backgroung-grey;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-header {
  font-size: 16px;
  font-weight: 300;
  color: $light-grey;
  margin-bottom: 15px;
  text-transform: uppercase;
}

input,
textarea {
  border: none;
  line-height: 1;
  caret-color: $main-blue;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

.delete-button {
  cursor: pointer;

  path {
    stroke: $light-grey;
    transition: 0.1s;
    fill: $light-grey;
  }
  &:hover path {
    stroke: $white;
    fill: $white;
  }
}

.modal-buttons {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  background-color: $dark-grey;

  border-radius: 0 0 15px 15px;
  button {
    transition: 0.4s;
    color: $white;
    font-weight: 400;
    border-radius: 20px;

    &:nth-child(2) {
      color: $main-blue;
    }
    &:hover {
      filter: brightness(1.4);
    }
    &:disabled {
      filter: brightness(0.5);
      cursor: not-allowed;
    }
  }
}

.error-message {
  color: $red;
}

.list-button,
.priority-button,
.deadline-button {
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: fit-content;
  padding: 4px 10px;
  background-color: $grey;
  border-radius: 20px;
  &:hover {
    background-color: $light-grey;
  }
  svg {
    width: 24px;
  }
  path {
    stroke: $main-blue;
  }
}

svg {
  &.default {
    path {
      stroke: $main-blue;
    }
  }

  &.low {
    path {
      stroke: $green;
    }
  }

  &.medium {
    path {
      stroke: $orange;
    }
  }

  &.high {
    path {
      stroke: $red;
    }
  }
}
