@import '../../styles/colors.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 3000;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s;
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
  &__box {
    max-width: 600px;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.15s;
    background-color: $backgroung-grey;
    position: relative;
    transition: 0.2s;
    border-radius: 15px;
    width: fit-content;
    -webkit-box-shadow: 3px 3px 13px -1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 3px 3px 13px -1px rgba(0, 0, 0, 0.34);
    box-shadow: 3px 3px 13px -1px rgba(0, 0, 0, 0.34);
    &.active {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  &__close-button {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    z-index: 400;
    path {
      stroke: $white;
      fill: $white;
    }
    &:hover {
      path {
        stroke: $main-blue;
        fill: $main-blue;
      }
    }
  }

  @media screen and (max-width: 670px) {
    &__box {
      width: 70vw;
    }
  }

  @media screen and (max-width: 460px) {
    &__box {
      width: 90vw;
    }
  }
}
