@import '../../styles/colors.scss';

.form-container {
  &__link {
    text-align: center;
    font-weight: 100;
    margin-top: 30px;
    border-top: 1px solid $light-grey;
    padding-top: 5px;
    a {
      text-decoration: underline;
    }
  }
}
