@import '../../styles/colors.scss';

.progress-bar {
  width: 100%;
  overflow: hidden;
  height: 20px;
  border-radius: 25px;
  background-color: $dark-grey;
  position: relative;

  &__progress {
    background-color: $main-blue;
    height: 100%;
    transition: 0.3s;

    span {
      position: absolute;
      width: 100%;
      font-weight: 400;
      text-align: center;
      top: -2px;
    }
  }
}
